.cardPeople {
  margin: 20px auto;
  border-radius: 8px;
  overflow: hidden;
  width: 400px;

  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.08), 1px 0px 1px rgba(0, 0, 0, 0.08),
    -1px 0px 1px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.08);
  position: relative;
}
